.step {
    width: 100%;
    padding: 10px;
    .step-icon {
        justify-content: center;
        margin: 10px;
        img {
            width: 40px;
        }
    }
    .step-bar {
        height: 4px;
        background-color: grey;
    }
    .not-active {
        filter: gray;
            filter: contrast(0);
            -webkit-filter: contrast(0);
    }
    .active {
        background-color: #096CFF;
    }
    .step-name {
        margin: 2px;
        text-align: center;
        font-weight: bolder;
    }
}
@media only screen and (max-width: 325px) {
 .step {
     width: 70%;
 }
}

